/* styles/InstructorHome.module.css */
.dashboardContainer {
    border-radius: 30px;
    background-color: #ffffff;
    overflow: hidden;
    margin-left: 250px;
    margin-top: 0;
  }
  
  .dashboardLayout {
    display: flex;
    gap: 0px;
  }
  
  @media (max-width: 991px) {
    .dashboardLayout {
      flex-direction: column;
      align-items: stretch;
      gap: 0;
    }
  }